.post {
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 7px;
    background: #fff;
    box-shadow:
        0px 1px 2px 0px #d0daeb,
        0px 0px 2px 0px #eef4fe;
}
.checkbox {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #aab7d4;
    background: #f8fafb;
    transform: translateY(3px);
    cursor: pointer;
}
.title {
    margin-bottom: 8px;
    color: #3d8fec;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.dates {
    display: flex;
    justify-content: space-between;
}
.date {
    color: #50b810;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%; /* 18.2px */
    margin-bottom: 5px;
}
.text {
    margin-bottom: 10px;
    overflow: hidden;
    color: #555;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%; /* 18.2px */
}
.tags {
    display: flex;
    align-items: center;
}
.tag {
    padding: 2px 6px;
    margin-right: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
    border-radius: 4px;
    background: #b233a6;
}
.grayTag {
    position: relative;
    padding: 2px 6px;
    color: #616c82;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
    border-radius: 4px 0px 0px 4px;
    background: #ebeef6;
}
.tagEnd {
    position: absolute;
    right: -8px;
    top: 0;
}
.space {
    flex: auto;
}
.img {
    width: 24px;
}
